<div class="logo">
    {{ partial "logo.html" . }}
</div>
<div class="date-display">
        <table id="date-container">
            <tr id="date-header-row">
                <td><a>Year</a></td>
                <td><a>Month</a></td>
                <td><a>Day</a></td>
            </tr>
            <tr id="date-table-row">
                <td><a id="disp-year">XXXX</a></td>
                <td><a id="disp-month">XX</a></td>
                <td><a id="disp-day">XX</a></td>
            </tr>
        </table>
    </div>
</div>